doctype html
html
  head
    title Delete Order
  body
    h1 Delete Order
    if order
      p Are you sure you want to delete the order for #{order.customerName} (Product: #{order.product}, Quantity: #{order.quantity})?
      form(action=`/api/orders/${order.id}`, method="post")
        input(type="hidden", name="_method", value="delete")
        button(type="submit") Delete Order
    else
      p Order not found
