doctype html
html
  head
    title Update Order
  body
    h1 Update Order
    if order
      form(action=`/api/orders/${order.id}`, method="post")
        label(for="customerName") Customer Name:
        input(type="text", name="customerName", id="customerName", value=order.customerName)
        br
        label(for="product") Product:
        input(type="text", name="product", id="product", value=order.product)
        br
        label(for="quantity") Quantity:
        input(type="number", name="quantity", id="quantity", value=order.quantity)
        br
        button(type="submit") Update Order
    else
      p Order not found
